header {

}

.header-inner {
  max-height: 100px;
  display: flex;
  align-items: center;
}

.header-inner nav {
  width: 100%;
  border-bottom: 1px solid #707070;
  padding: 0;
}

.header-inner img {
  padding-top: 20px;
  width: 30%;
}

header nav ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

header nav ul li {
  margin-right: 30px;
}

header nav a {
  font-size: 18px;
}

@media screen and (max-width: 959px) {

}
